.dropshadow{
  -webkit-box-shadow:3px 3px 5px 6px #ccc;
  -moz-box-shadow:3px 3px 5px 6px #ccc;
  box-shadow:3px 3px 5px 6px #ccc;
  padding-left: 20px;
  padding-right: 20px;
}
.button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}